<body>
    <header>
        <a href="/">
            <span>INICIO</span>
        </a>
    </header>
    <main>
        <form action="/api/sessions/register" method="POST">
            <h2>Registro</h2>
            <div>
                <input type="text" placeholder="Nombre" id="nombre" name="first_name" required>
            </div>
            <div>
                <input type="text" placeholder="Apellido" id="apellido" name="last_name" required>
            </div>
            <div>
                <input type="text" placeholder="Email" id="email" name="email" required>
            </div>
            <div>
                <input type="text" placeholder="Contraseña" id="password" name="password" required>
            </div>
            <div>
                <input type="number" placeholder="Edad" id="age" name="age" required>
            </div>
            <div>
                <input class="boton" type="submit" value="Registrarse">
            </div>
        </form>
    </main>
</body>